<a href="https://colab.research.google.com/github/dataqueenpend/Projects-/blob/Kaggle-Projects/Feature_Selection_And_Model_Building_House_Prices_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

videos to watch before performing feature selection:
* [Linear Regression Indepth Maths Intuition- Data Science]('https://www.youtube.com/watch?v=1-OGRohmH2s')
* [Machine Learning-Bias And Variance In Depth Intuition| Overfitting Underfitting]('https://www.youtube.com/watch?v=BqzgUnrNhFM')
* [Ridge and Lasso Regression Indepth Intuition- Data Science]('https://www.youtube.com/watch?v=9lRv01HDU0s')
* [Advance House Price Prediction-Feature Selection]('https://www.youtube.com/watch?v=1JXrxCJoHuw&list=PLZoTAELRMXVPQyArDHyQVjQxjj_YmEuO9&index=5')

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
import warnings
warnings.filterwarnings('ignore')

In [20]:
train = pd.read_csv('/content/train_after_fe.csv')

In [21]:
train.head()

   Id  SalePrice  MSSubClass  ...  LotFrontage NaN  MasVnrArea NaN  GarageYrBlt NaN
0   1  12.247694    0.235294  ...              0.0             0.0              0.0
1   2  12.109011    0.000000  ...              0.0             0.0              0.0
2   3  12.317167    0.235294  ...              0.0             0.0              0.0
3   4  11.849398    0.294118  ...              0.0             0.0              0.0
4   5  12.429216    0.235294  ...              0.0             0.0              0.0

[5 rows x 84 columns]

In [22]:
y= train['SalePrice']

In [23]:
X = train.drop(['Id', 'SalePrice'], axis=1)

We'll be using Lasso to select only those features which have a considerable impact on the SalePrice. 

2 things are important while using Lasso: 
1. **Alpha parameter** - with this parameter it will depend how many features will be selected with the model. Higher the value of alpha, lasso will be more rigourous and less features will be selected by it. Lower alpha value -> more features will be selected. 
> we can exeperiment with the right alpha value and calculating f.e. mse, to received the best result. 
2. **Random Seed** - remember to add the random seed, and select the same seed for the test data lasso also :)

If the alpha selection will be needed, please refer to the [Krish Naik notebook]('https://github.com/krishnaik06/RegressionandLasso/blob/master/Lassoand%20Regression.ipynb') - for alpha selection notes. 

I'll follow the guidance of Krish from His youtube video, and choose the alpha of 0.005 on His recomendation.

Maybe I'll explore the alpha next time by myself.

In [24]:
col_sel_mod =  SelectFromModel(Lasso(alpha=0.005, random_state=0))

In [25]:
col_sel_mod.fit(X, y)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [26]:
col_sel_mod.get_support() #Returns an array with selected features (True)

array([ True,  True, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False,  True,  True, False, False, False, False, False, False,
       False, False,  True, False,  True, False, False, False, False,
       False, False, False,  True,  True, False,  True, False, False,
        True,  True, False, False, False, False, False,  True, False,
       False,  True,  True,  True, False,  True,  True, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False])

In [27]:
#Selecting features selected by the model
sel_by_lasso = X.columns[(col_sel_mod.get_support())]

In [28]:
#Checking out the number of selected features in comparison to the number of all features in the df
print('Features selected: {}'.format(len(sel_by_lasso)))
print('Total numer of features: {}'.format(X.shape[1]))

Features selected: 21
Total numer of features: 82

In [29]:
print(sel_by_lasso)

Index(['MSSubClass', 'MSZoning', 'Neighborhood', 'OverallQual', 'YearRemodAdd',
       'RoofStyle', 'BsmtQual', 'BsmtExposure', 'HeatingQC', 'CentralAir',
       '1stFlrSF', 'GrLivArea', 'BsmtFullBath', 'KitchenQual', 'Fireplaces',
       'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageCars', 'PavedDrive',
       'SaleCondition'],
      dtype='object')

In [30]:
x = X[sel_by_lasso]

In [31]:
x.head()

   MSSubClass  MSZoning  Neighborhood  ...  GarageCars  PavedDrive  SaleCondition
0    0.235294      0.75      0.636364  ...        0.50         1.0           0.75
1    0.000000      0.75      0.500000  ...        0.50         1.0           0.75
2    0.235294      0.75      0.636364  ...        0.50         1.0           0.75
3    0.294118      0.75      0.727273  ...        0.75         1.0           0.00
4    0.235294      0.75      1.000000  ...        0.75         1.0           0.75

[5 rows x 21 columns]

Ok. Now let's implement lasso on the test data also.

test data from Hoouse Prices dataset from Kaggle doesn't have SalePrice variable, which  - in my understanding - makes it impossible to take into consideration while building a model.

My guess, is to split the data which we already have and then impelement the model on it. 


##Model building

* [Machine Learning Algorithm- Which one to choose for your Problem?]('https://www.youtube.com/watch?v=38SUUaMX5Rg')
* [How to select the best model using cross validation in python]('https://www.youtube.com/watch?v=Bcw8S449QW4')
* [Train Test Split vs K Fold vs Stratified K fold Cross Validation]('https://www.youtube.com/watch?v=fKz-SgScM3Q')
* [Machine Learning & Data Science Project - 5 : Model Building (Real Estate Price Prediction Project]('https://www.youtube.com/watch?v=oCiRv94GMEc&list=PLeo1K3hjS3uu7clOTtwsp94PcHbzqpAdg&index=5')

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
from sklearn.model_selection import train_test_split

In [35]:
X_train,X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [36]:
lr_clf = LinearRegression()
lr_clf.fit(X_train, y_train)
lr_clf.score(X_test, y_test)

0.905707575127952

In [37]:
#kfold validation too measure linreg model performance
from sklearn.model_selection import ShuffleSplit, cross_val_score

In [39]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

In [40]:
cross_val_score(LinearRegression(), x, y, cv=cv)

array([0.84299831, 0.90709316, 0.85522325, 0.87099513, 0.8639096 ])

We have pretty good results for now (with a simple linear regression - it must be pointed out). But let's try to enchance it with GridSearchCV.

In [42]:
#Importing other models to test
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

In [53]:
#Hyperparameter tuning with GridSearchCV and finding the best model
def grid_search_best_model_finder(x,y):
  """Function which iterates through selected models and returns models scores, names in a DataFrame
  """
  models = {
      'Lin Reg': {
          'model': LinearRegression(),
          'params': {
              'normalize' : [True, False]
          }
      },
      'Lasso': {
          'model': Lasso(),
          'params': {
              'alpha': [1,2], 
              'selection': ['random', 'cyclic']
          }
      },
      'Dec Tree Reg': {
          'model': DecisionTreeRegressor(),
          'params': {
              'criterion': ['mse', 'friedman_mse'],
              'splitter': ['best', 'random']
          }
      }
  }
  scores = []
  cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
  for model_name, config in models.items():
    gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
    gs.fit(x,y)
    scores.append({
        'model': model_name,
        'best_score': gs.best_score_,
        'best_params': gs.best_params_
        })
  return pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])

In [54]:
grid_search_best_model_finder(x,y)

          model  best_score                                        best_params
0       Lin Reg    0.868044                                {'normalize': True}
1         Lasso   -0.001095                {'alpha': 1, 'selection': 'random'}
2  Dec Tree Reg    0.749935  {'criterion': 'friedman_mse', 'splitter': 'best'}